@charset "UTF-8";
*{
    /*height: 100%;*/
    @font-face {
        font-family: '._idroid.otf';
        src: url('._idroid.otf') format('truetype');
      }
}
body{
    background-color: rgb(78, 228, 135);
    margin: auto;
}
header{
     background-image: linear-gradient(to top, rgba(0, 0, 0, 0.486),rgb(78, 228, 135));
     padding: 0px;
     text-align: center;
     margin: auto;
     color: white;

}
.link > a{
    text-decoration: none;
    color: white;
    padding: 10px;
    margin: auto;
    width: 1px;
    height: auto;
}
.link >  a:hover{
    color: green;

}